
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="<?=$Constantes::WEB_ROOT.''?>"><i class="menu-icon fa fa-laptop"></i> Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
       
      <!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    AC
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="etudiant">Lister Etudiant</a></li>
    <li><a class="dropdown-item" href="inscription">Inscrire étudiant</a></li>
  </ul>
</div>  -->


{# <?php if($role::isAc()): ?> #}
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Module
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="module">Liste Module</a></li>
      <li><a class="dropdown-item" href="addModule">Ajouter Module</a></li>
    </ul>
  </div>
  <div class="btn-group">
  
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Etudiant
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="etudiant">Lister Etudiant</a></li>
    <li><a class="dropdown-item" href="inscription">Inscrire étudiant</a></li>
  </ul>
</div>
{# <?php endif; ?>

<?php if($role::isRP()): ?> #}
  <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Professeur
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href={{ path ('app_professeur')}}>Lister Professeur</a></li>
    <li><a class="dropdown-item" href={{ path ('ajout_prof')}}>Ajouter Professeur</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Classe
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href={{ path ('app_classe')}}>Lister Classe</a></li>
    <li><a class="dropdown-item" href={{ path ('app_addClasse')}}>Ajouter Classe</a></li>
    <li><a class="dropdown-item" href="addClasse">Affecter Classe à un professeur</a></li>
  </ul>
</div>
{# <?php endif; ?> #}

<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    RP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="lp">Lister RP</a></li>
  </ul>
</div> -->
{# <?php if($role::isRP() || $role::isEtudinat() ): ?> #}
  <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Demande
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="demande">Lister  Demande</a></li>
    <li><a class="dropdown-item" href="addDemande">Créer  Demande</a></li>
  </ul>

     {# <ul class="navbar-nav m1-auto">
           <li class="nav-item">
                {% if is_granted('IS_AUTHENTIFICATED_FULLY') %}
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Se Déconnecter
                        </a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">
                           Se Connecter
                        </a>
                    {% endif %}
        </li>
     </ul> #}
</div>
{# <?php endif; ?> #}
<ul class="navbar-nav m1-auto">
        <li class="nav-item">
           {% if is_granted('IS_AUTHENTIFICATED_FULLY') %}
             <a class="nav-link active" aria-current="page"href="{{ path('app_logout') }}">
               Se Déconnecter
          </a>
          {% else %}
        </li>
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
               Se Connecter
          </a>
        
        </li>
          {% endif %}
      </li>
      </ul>
      <form class="d-flex">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-outline-success" id="butad" type="button" ><a href="<?=$Constantes::WEB_ROOT.''?>" style="text-decoration:none">Add+</a></button>
      </form>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<input type="hidden" name="currentpage" id="currentpage" value="1"> -->