{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
 <div class="container mt-4">
         <h1>Les demandes</h1>
            <a href="{{ path('app_addClasse') }}" class="btn btn-primary">
                    Créer une clases
            </a>

            {% for message in app.flashes('success') %}
                <div class="alert-success mt-5">
                    {{ message }}
                </div>
            {% endfor %}
 
            {# total items count #}
            <div class="count mt-4">
             <h4>
                Il y a   {{ demandes.getTotalItemCount }} demandes  au total dans l'école
             </h4>
            </div>
    <table class="table table-hover text-center">
         <thead class="table-dark">
            <tr>
            <th scope="col">Motif</th>
            <th scope="col">Etat</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimmer</th>
            </tr>
        </thead>
            <tbody>
                    {% for demande in demandes %}
                        <tr class="table-primary">
                         <th scope="row">{{ demande.motif }}</th>
                            <th scope="row">{{ demande.etat }}</th>
 <td><a href="{{path('classe_edit',{id:demande.id}) }}"><button class='btn btn-warning'>Modifier</button></a></td>
        <td><a href="{{ path('classe_delete',{id:demande.id}) }}"<button type="submit" class='btn btn-danger'>Supprimer</button></td>
                        </tr>  
                    {% endfor %} 
            </tbody>    
    </table>
  # pagination #
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(demandes) }}
    </div>
{% endblock %}
