{% extends 'base.html.twig' %}

{% block title %}Liste de classes{% endblock %}

{% block body %}
         <div class="container mt-4">
         <h1>Les classes</h1>
            <a href="{{ path('app_addClasse') }}" class="btn btn-primary">
                    Créer une clases
            </a>

            {% for message in app.flashes('success') %}
                <div class="alert-success mt-5">
                    {{ message }}
                </div>
            {% endfor %}
 
            {# total items count #}
            <div class="count mt-4">
             <h4>
                Il y a   {{ classes.getTotalItemCount }} classes  au total dans l'école
             </h4>
            </div>
    <table class="table table-hover text-center">
         <thead class="table-dark">
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Libelle</th>
            <th scope="col">Filiere</th>
            <th scope="col" >Niveau</th>
            <th scope="col">Action1</th>
            <th scope="col">Action2</th>
            </tr>
        </thead>
            <tbody>
                    {% for classe in classes %}
                        <tr class="table-primary">
                         <th scope="row">{{ classe.id }}</th>
                            <th scope="row">{{ classe.niveau }}</th>
                            <th scope="row">{{ classe.filiere }}</th>
                             <th scope="row">{{ classe.libelle }}</th>
        <td><a href="{{path('classe_edit',{id:classe.id}) }}"><button class='btn btn-warning'>Modifier</button></a></td>
        <td><a href="{{ path('classe_delete',{id:classe.id}) }}"<button type="submit" class='btn btn-danger'>Supprimer</button></td>
                        </tr>  
                    {% endfor %} 
            </tbody>    
    </table>
  # pagination #
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(classes) }}
    </div>
{% endblock %}
