{% extends 'base.html.twig' %}

{% block title %}Liste de professeurs{% endblock %}

{% block body %}
         <div class="container mt-4">
         <h1>Les professeurs - nom et grade</h1>
            <a href="{{ path('ajout_prof') }}" class="btn btn-primary">
                        Ajouter une professeur
            </a>
            {% for message in app.flashes('success') %}
                <div class="alert-success mt-5">
                    {{ message }}
                </div>
            {% endfor %}

            {# total items count #}
            <div class="count mt-4">
             <h4>
                Il y a   {{ professeurs.getTotalItemCount }} professeurs  au total
             </h4>
            </div>
    <table class="table table-hover text-center">
         <thead class="table-dark">
            <tr>
            <th scope="col">Nom Complet</th>
            <th scope="col">Grade</th>
            {# <th scope="col">Classe</th>
            <th scope="col">Module</th> #}
            <th scope="col">Action1</th>
            <th scope="col">Action2</th>
            </tr>
        </thead>
            <tbody>
                    {% for professeur in professeurs %}
                        <tr class="table-primary">
                            <th scope="row">{{ professeur.nomComplet }}</th>
                            <th scope="row">{{ professeur.grade }}</th>
                            {# <th scope="row">{{ professeur.classe }}</th>
                             <th scope="row">{{ professeur.module }}</th> #}
             <td><a href="{{path('professeur_edit',{id:professeur.id}) }}"><button class='btn btn-warning'>Modifier</button></a></td>
        <td><a href="{{ path('professeur_delete',{id:professeur.id}) }}"<button type="submit" class='btn btn-danger'>Supprimer</button></td>
                        </tr>  
                    {% endfor %}
            </tbody>    
    </table>
    # pagination #
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(professeurs) }}
    </div>
{% endblock %}
