{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h2 class="mt-4">   Modification d'une classe</h2>
{# 
        {% for message in app.flashes('success') %}
            <div class="alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %} #}
    {# {{ form(form) }} #}
    {# {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.libelle) }}
            {{ form_widget(form.libelle) }}
            <div class="form-error">
                {{ form_errors(form.libelle) }} 
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }} #}
</div>
{% endblock %}