{% extends 'base.html.twig' %}

{% block title %}SymRecipie - Mes ingredient{% endblock %}

{% block body %}
         <div class="container mt-4">
         <h1>Les modules</h1>

         <a href="{{ path('ajout_module') }}" class="btn btn-primary">
                   Créer une module
         </a>

            {% for message in app.flashes('success') %}
                <div class="alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
 
            {# total items count #}
            <div class="count mt-4">
             <h4>
                Il y a   {{ modules.getTotalItemCount }} modules au total
             </h4>
            </div>
    <table class="table table-hover text-center">
         <thead class="table-dark">
            <tr>
            <th scope="col">Id</th>
            <th scope="col">libelle</th>
            <th scope="col">Action1</th>
            <th scope="col">Action2</th>
            </tr>
        </thead>
            <tbody>
                    {% for module in modules %}
                        <tr class="table-primary">
                            <th scope="row">{{ module.id }}</th>
                            <th scope="row">{{ module.libelle }}</th>
       <td><button class='btn btn-warning'>Modifier</button></td>
        <td><button type="submit" class='btn btn-danger'>Supprimer</button></td>
                        </tr>  
                    {% endfor %}
            </tbody>    
    </table>
    # display navigation #
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(modules) }}
    </div>
              {# {% for ingredient in ingredients %}
            <div>
                <p>{{ ingredient.name }} </p>
            </div>
              { {% endfor %} }    
         </div> #}
{% endblock %}
